Flask==3.0.3
pandas==2.2.2
markdown2==2.5.0
re==3.3.0
langchain==0.2.14
langchain-core==0.2.34
langchain-groq==0.1.9
langchain-openai==0.1.22
numpy==1.26.4
python-dotenv==1.0.1
Jinja2==3.1.4
Werkzeug==3.0.3
ipykernel==6.29.5
ipython==8.26.0
jupyter_client==8.6.2
jupyter_core==5.7.2