<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cybersecurity Solution Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <!-- Add the image here -->
        <img src="{{ url_for('static', filename='images/secuvantlogofun.png') }}" alt="Your Image Description" class="center-image">
        
        <h1>AI Vulnerability Remediation Demo</h1>
        <form id="vulnerability-form" method="POST" action="/generate_solution" onsubmit="return validateForm()">
            <div class="form-group">
                <label for="title">Vulnerability:</label>
                <div class="form-row">
                    <select id="vulnerability-dropdown" name="title" class="form-control">
                        <option value="" disabled {% if not selected_title %}selected{% endif %}>-- Select --</option>
                        {% for title in titles %}
                        <option value="{{ title }}" {% if title == selected_title %}selected{% endif %}>{{ title }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary">Generate Solution</button>
                </div>
            </div>
        </form>

        {% if generated_response %}
        <div class="response">
            <h2>Generated Solution:</h2>
            <p>{{ generated_response }}</p>
        </div>
        {% endif %}
    </div>

    <script>
        function validateForm() {
            var dropdown = document.getElementById('vulnerability-dropdown');
            if (dropdown.value === "") {
                return false;  // Prevent form submission
            }
            return true;  // Allow form submission
        }
    </script>
</body>
</html>
