<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cybersecurity Solution Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <!-- Add the image here -->
        <img src="{{ url_for('static', filename='images/secuvantlogofun.png') }}" alt="Your Image Description" class="center-image">
        
        <h1>Panoptic AI Feature Enhancement Prototype</h1>
        
        <form id="vulnerability-form" method="POST" action="/generate_solution" onsubmit="return validateForm()">
            <div class="form-group">
                <label for="title">Vulnerability:</label>
                <div class="form-row">
                    <select id="vulnerability-dropdown" name="title" class="form-control">
                        <option value="" disabled {% if not selected_title %}selected{% endif %}>-- Select --</option>
                        {% for title in titles %}
                        <option value="{{ title }}" {% if title == selected_title %}selected{% endif %}>{{ title }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary">Generate Solution</button>
                </div>
            </div>

            <!-- Loading animation placed here, underneath the dropdown -->
            <div id="loading" class="loading" style="display: none;">
                <div class="loading-content">
                    <div class="loading-spinner"></div>
                    <p>Generating AI Solution...</p>
                </div>
            </div>
            
        </form>

        <div id="response-section" style="{% if not generated_response %}display: none;{% endif %}">
            {% if generated_response %}
            <div class="response">
                <h2>Generated Solution:</h2>
                <div class="response-content">{{ generated_response | safe }}</div>
            </div>
            {% endif %}
        </div>
    </div>

    <script>
        function validateForm() {
            var dropdown = document.getElementById('vulnerability-dropdown');
            if (dropdown.value === "") {
                alert('Please select a vulnerability');
                return false;  // Prevent form submission and do not show the loading circle
            }
            else {
            showLoading();  // Only show loading if the form is valid
            return true;  // Allow form submission
            }
        }
    
        function showLoading() {
            document.getElementById('loading').style.display = 'block';
            document.getElementById('response-section').style.display = 'none';  // Hide the response section
        }
    </script>

</body>
</html>
